:root {
    --clr-primary-400: #172339;

    --clr-secondary-400: #F3EDE7;

    --clr-neutral-100: #FAF8F6;
    --clr-neatral-900: #49566D;

    --clr-orange-400: #FFA84E;

    --clr-pink-400: #CB30E3;

    --clr-purple-400: #A060FF;

    --font-family-primary: ;
}