@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

:root {
    --clr-primary-400: #172339;

    --clr-secondary-400: #F3EDE7;

    --clr-neutral-100: #FAF8F6;
    --clr-neatral-900: #49566D;

    --clr-orange-400: #FFA84E;

    --clr-pink-400: #CB30E3;

    --clr-purple-400: #A060FF;

    --ff-primary: Epilogue sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-400: 0.875rem;
    --fs-500: 1rem;
    --fs-600: 1.125rem;
    --fs-800: 2.375rem;
    --fs-900: 3rem;
}

@media (min-width: 35em) {
    :root {
        --fs-400: 1rem;
        --fs-500: 1.125rem;
        --fs-600: 1.25rem;
        --fs-800: 3.5rem;
    }
}

@media (min-width: 50em) {
    :root {
        --fs-400: 1rem;
        --fs-500: 1.125rem;
        --fs-600: 1.25rem;
        --fs-800: 4.5rem;
    }
}